<p id="notice"><%= notice %></p>

<p>
  <strong> title:</strong>
  <%= @product. title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Bid:</strong>
  <%= @product.bid %>
</p>

<p>
  <strong>Time in:</strong>
  <%= @product.time_in %>
</p>

<p>
  <strong>Time out:</strong>
  <%= @product.time_out %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
